<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <nav>
            <a href="/portal">Voltar para o Portal</a> 
          <h1>Total de funcionarios da empresa</h1>
        </nav>
        </header>
        <main>
            <h2>Total de Colaboradores ativos: <span th:text="${total}">numero</span> </h2>      
        </main>

    </body>
</html>
