<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <nav>
          <a href="/">Pagina Inicial</a> <a href="/portal">Portal</a> <a href="/contato">Contato</a> <a href="/servicos">Servicos</a>
        </nav>
        </header>
        <main>
            <h2>Total de colaboradores ativos: <span th:text="${total}">numero</span> </h2>      
        </main>

    </body>
</html>
