<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header>
        <nav>
          <a href="/">Pagina Inicial</a> <a href="/portal">Portal</a> <a href="/contato">Contato</a> <a href="/servicos">Servicos</a>
        </nav>
        </header>
        <main>
            <h2>Nome do Usuario: <span th:text="${nome}">Teste</span> </h2>
            <h2>Nome do curso: <span th:text="${curso}">Teste</span></h2>
            <h2>Linguagem favorita: <span th:text="${linguagemFavorita}"></span></h2>           
        </main>

    </body>
</html>
